html {
	font-size: 20px;
	font-family: "Lobster", cursive;
	line-height: 1.7;
	background-image: url('/img/notebook.jpg');
}

.front {
	position: absolute;
	top: 0;
	left: 0px;
	bottom: 0;
	height: 100%;
	text-align: center;
	background-image: url('/img/abstract.jpg');
	background-repeat: no-repeat;
	width: 100%;
	object-fit: contain;
}

.front_title {
	color: rgb(207, 196, 179);
	text-shadow: rgb(233, 225, 232) 4px 4px 5px;
	padding: 5px;
}

.front_button {
	cursor: pointer;
	width: 100px;
	height: 100px;

	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	background: #6f2ec5;
	color: rgb(207, 196, 179);
	text-shadow: rgb(233, 229, 225) 2px 2px 5px;
	font-family: "Lobster", cursive;
	font-size: 25px;
	font-weight: bold;

	animation: grow 1s infinite;
}

.front_button:active {
	color: rgb(28, 0, 128);
	border: 3px solid #6f2ec5;

}

@keyframes grow {
	from {
		box-shadow: 0px 0px 1em #6f2ec5;
	}

	to {
		box-shadow: 0px 0px 3em #6f2ec5;
	}
}

.game {
	/* position: absolute; */
	left: 0;
	display: none;

		align-items: center;
		text-align: center;
		min-height: 100vh;

}

.header {
	display: flex;
	margin-left: 5px;
	justify-content: space-between;
	border: 5px solid #702ec5;
	border-radius: 5px;
  color: #702ec5;
	font-weight: 600;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		background: rgb(222, 228, 189);
}

.bxs-star {
	color: gold;
	font-size: 30px;
}

.bxs-star span {
	color: #702ec5;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn-pause {
	cursor: pointer;
}


.title {
	width: 100%;
			height: 100px;
	text-align: center;
	align-items: center;
	background-color: #702ec5;
	border-radius: 5px;
	font-weight: 600;
	color: #fff;
  padding: 10px;
	box-shadow: 0px 0px 0px 10px rgb(222, 228, 189) inset;
	width: auto;

  font-size: 32px;
  padding-top: 20px;
	
}


.bx-menu {
	padding: 10px;
	font-size: 25px;
	cursor: pointer;
}

.screen {
	display: flex;
	justify-content: center;
	background: transparent;
	margin-top: 5px;
	z-index: 0;
}

.cartoon {
	text-align: center;
	position: relative;
}

.cartoonImg {
	width: 125px;
}

.assumption {
	background: transparent;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-evenly
}

.sign {
	min-width: 50px;
	margin-top: 0;
	font-size: 70px;
	color: #000;
}

.hidden {
	min-width: 40px;
	margin: 10px;
	font-size: 40px;
	border-bottom: 4px solid rgb(58, 52, 52);
	color: transparent;
}

.endGame {
	position: fixed;
	height: 120px;
	margin: 5% auto;
	top: 90px;
	left: 0;
	right: 0;
	background-color: rgb(248, 6, 26);
	padding-left: auto;
	padding-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;
}
.gameMenu {

	flex-direction: column;
	position: fixed;
  padding: 10px;
	margin: 5% auto;
	top: 90px;
	left: 0;
	right: 0;
	background-color: rgb(59, 194, 235);
	box-shadow: 0px 0px 0px 5px black inset;
	padding-left: auto;
	padding-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;
}
.menu{

	display: none;
}
.infoMenu{
	display: block;
}
.btn {
	width: 100px;
	height: 60px;
	border-radius: 10px;
}

.language {
	top: 30%;
	left: 25%;
	position: absolute;
	text-align: center;

	background: rgba(24, 85, 141, 0.774);
	color: #fff;
	border-radius: 10px;

	outline: 5px solid rgb(129, 129, 129);
	outline-offset: 3px;
	height: auto;
	width: 50%;
}

.level-end,
.nextLevel {
	top: 0;

	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	object-fit: cover;
	z-index: 33;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	width: 100%;
}

.gameOver {
	text-align: center;
	color: #0f0f0f;
	color: red;
	z-index: 33;
	font-size: 30px;
	font-weight: 600;
	font-size: 40px;
	text-shadow: 5px 15px #0f0f0f;
	z-index: 222;
}

/* .levelImg {
	height: auto;
	width: auto;
} */

#language,
#level-end {
	display: none;
	justify-content: center;

}

#nextLevel {
	display: none;
	left: 0;
}


@media screen and (width: 320px) {
	.levelImg {
		max-height: 30vh;
	}
	.title{
			font-size: 16px;
				padding-top: 17px;
	}
}


#close {
	/* margin-top: 1em; */
}

#close:before {
	content: "✖";
	font-size: 30px;
	
	/* border: 1px solid gray;
	background-color: #eee; */
	padding-left: 246px;
	cursor: pointer;
}